ScienceFair.txt
[{"id":"e8611428.a0c478","type":"rpi-sensehat in","z":"b1d9e39c.38f2a","name":"SenseHat Get Acceleration","motion":true,"env":false,"stick":false,"x":115,"y":184,"wires":[["a038f9d7.a41b98","a42edc86.38c4c"]]},{"id":"a038f9d7.a41b98","type":"function","z":"b1d9e39c.38f2a","name":"Caclulate total acceleration","func":"msg.payload = Math.sqrt(Math.pow(msg.payload.acceleration.x,2)+Math.pow(msg.payload.acceleration.y,2)+Math.pow(msg.payload.acceleration.z,2))-1.005;\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":183,"wires":[["6f3dd8bf.0a9718","1015dcc.7e9ea23","98870bc7.6258","98d89131.36619"]]},{"id":"6f3dd8bf.0a9718","type":"ui_chart","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":1,"width":0,"height":0,"label":"Balance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"0.5","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":796,"y":47,"wires":[[],[]]},{"id":"5483623c.6991ac","type":"file","z":"b1d9e39c.38f2a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1030.5,"y":255,"wires":[]},{"id":"1015dcc.7e9ea23","type":"function","z":"b1d9e39c.38f2a","name":"Write data to file","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar utc_short = utc.substr(17); //Remove YYYY-MM-DDThh:\nvar utc_min = utc.substr(14).slice(0, -7);\nutc_min = utc_min*60;\nvar time = Number(utc_min)-global.get(\"starttime\")+Number(utc_short);\nmsg.payload = time + \", \" + msg.payload + \", \" + Math.abs(msg.payload);\nmsg.filename = \"/home/pi/Desktop/SciFairData/\" + global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":614,"y":296,"wires":[["d1f913d6.853e68"]]},{"id":"98870bc7.6258","type":"function","z":"b1d9e39c.38f2a","name":"Get UTC time","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nmsg.payload = utc;\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":124,"wires":[["8a4e7b2c.2679a8"]]},{"id":"8a4e7b2c.2679a8","type":"ui_text","z":"b1d9e39c.38f2a","group":"91ebc8ba.eca338","order":3,"width":0,"height":0,"name":"Time","label":"Time","format":"{{msg.payload}}","layout":"row-left","x":784,"y":125,"wires":[]},{"id":"5f4234c4.928cec","type":"inject","z":"b1d9e39c.38f2a","name":"Start recording","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":335,"y":457,"wires":[["903d20f6.5c47b","820987dd.c1056","22231cee.dd470c","2dcbb697.dee8c2"]]},{"id":"8e428fd7.bbb2c","type":"inject","z":"b1d9e39c.38f2a","name":"Stop recording","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":334,"y":503,"wires":[["903d20f6.5c47b","7ddf9771.a3bdb"]]},{"id":"903d20f6.5c47b","type":"change","z":"b1d9e39c.38f2a","name":"set gate","rules":[{"t":"move","p":"payload","pt":"msg","to":"gate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":792.5,"y":293,"wires":[[]]},{"id":"d1f913d6.853e68","type":"switch","z":"b1d9e39c.38f2a","name":"Start/Stop writing","property":"gate","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":822,"y":253,"wires":[["ed38fcce.342108","5483623c.6991ac"]]},{"id":"ed38fcce.342108","type":"debug","z":"b1d9e39c.38f2a","name":"","active":true,"console":"true","complete":"payload","x":1052.5,"y":310,"wires":[]},{"id":"e7c9f5b.0d5a808","type":"ui_button","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":4,"width":0,"height":0,"passthru":false,"label":"Start recording","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":335,"y":370,"wires":[["903d20f6.5c47b","820987dd.c1056","22231cee.dd470c","2dcbb697.dee8c2"]]},{"id":"ba2e937b.361248","type":"ui_button","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":5,"width":0,"height":0,"passthru":false,"label":"Stop recording","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":334,"y":415,"wires":[["903d20f6.5c47b","7ddf9771.a3bdb"]]},{"id":"2a162b82.51e52c","type":"rpi-sensehat out","z":"b1d9e39c.38f2a","name":"Recording indicator","x":822,"y":425,"wires":[]},{"id":"820987dd.c1056","type":"function","z":"b1d9e39c.38f2a","name":"On","func":"msg.payload = \"0-7,0,red,1-7,1,red,2-7,2,red,3-7,3,red,4-7,4,red,5-7,5,red,6-7,6,red,7,7,red\";\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":410,"wires":[["2a162b82.51e52c"]]},{"id":"7ddf9771.a3bdb","type":"function","z":"b1d9e39c.38f2a","name":"Off","func":"msg.payload = \"*,*,green\";\nreturn msg;","outputs":1,"noerr":0,"x":579,"y":446,"wires":[["2a162b82.51e52c"]]},{"id":"22231cee.dd470c","type":"function","z":"b1d9e39c.38f2a","name":"Set filename","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nglobal.set(\"filename\",utc + \".csv\");\nmsg.payload = global.get(\"filename\") ;\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":215,"wires":[["c744fca5.1bb7b"]]},{"id":"98d89131.36619","type":"ui_chart","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":2,"width":0,"height":0,"label":"Acceleration sum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":825,"y":87,"wires":[[],[]]},{"id":"a42edc86.38c4c","type":"delay","z":"b1d9e39c.38f2a","name":"Initially set recording off","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":359,"y":227,"wires":[["7ddf9771.a3bdb"]]},{"id":"36e577e3.c1157","type":"exec","z":"b1d9e39c.38f2a","command":"sudo shutdown","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shut down PI","x":603.5,"y":661.5,"wires":[["65fb19fe.95cfe"],[],[]]},{"id":"f4086773.1182c","type":"ui_button","z":"b1d9e39c.38f2a","name":"","group":"88510913.911f88","order":1,"width":0,"height":0,"passthru":false,"label":"Turn off PI","color":"red","bgcolor":"yellow","icon":"","payload":"true","payloadType":"bool","topic":"","x":328,"y":604,"wires":[["70e24bdb.5bac0c","36e577e3.c1157"]]},{"id":"12c51d27.1a9edb","type":"ui_text","z":"b1d9e39c.38f2a","group":"88510913.911f88","order":2,"width":0,"height":0,"name":"Status","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":963,"y":604,"wires":[]},{"id":"c2eb3f4.6b6b1c","type":"rpi-sensehat out","z":"b1d9e39c.38f2a","name":"Stopping","x":970,"y":651,"wires":[]},{"id":"65fb19fe.95cfe","type":"function","z":"b1d9e39c.38f2a","name":"Off","func":"msg.payload = \"*,*,off\";\nreturn msg;","outputs":1,"noerr":0,"x":777,"y":649,"wires":[["c2eb3f4.6b6b1c"]]},{"id":"70e24bdb.5bac0c","type":"function","z":"b1d9e39c.38f2a","name":"Shutdown message","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nmsg.payload = \"Shutdown at:\" + utc + \"\\n\\n\" + \"Wait two minutes before disconnecting power.\";\nreturn msg;","outputs":1,"noerr":0,"x":625,"y":602,"wires":[["12c51d27.1a9edb"]]},{"id":"2dcbb697.dee8c2","type":"function","z":"b1d9e39c.38f2a","name":"Set starttime","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nvar utc_min = utc.substr(14).slice(0, -7);\nvar utc_sec = utc.substr(17).slice(0, -4);\nutc_min = Number(utc_min*60)+Number(utc_sec);\nglobal.set(\"starttime\",utc_min);\nmsg.payload = global.get(\"starttime\") ;\nreturn msg;","outputs":1,"noerr":0,"x":605,"y":256,"wires":[[]]},{"id":"c744fca5.1bb7b","type":"function","z":"b1d9e39c.38f2a","name":"Write column headers","func":"msg.payload = \"time, acceleration, abs_acceleration\"\nmsg.filename = \"/home/pi/Desktop/SciFairData/\" + global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":831,"y":215,"wires":[["5483623c.6991ac"]]},{"id":"91ebc8ba.eca338","type":"ui_group","z":"","name":"Acceleration","tab":"497e63f3.264c7c","disp":true,"width":"6"},{"id":"88510913.911f88","type":"ui_group","z":"","name":"Turn off","tab":"fe8939b1.8fbff8","disp":true,"width":"6"},{"id":"497e63f3.264c7c","type":"ui_tab","z":"","name":"ScienceFair","icon":"dashboard","order":5},{"id":"fe8939b1.8fbff8","type":"ui_tab","z":"","name":"ScienceFair Turn Off","icon":"dashboard","order":2}]
