ScienceFair.txt
[{"id":"e8611428.a0c478","type":"rpi-sensehat in","z":"b1d9e39c.38f2a","name":"SenseHat Motion","motion":true,"env":false,"stick":false,"x":112,"y":180,"wires":[["a038f9d7.a41b98","a42edc86.38c4c"]]},{"id":"a038f9d7.a41b98","type":"function","z":"b1d9e39c.38f2a","name":"Acceleration","func":"msg.payload = Math.sqrt(Math.pow(msg.payload.acceleration.x,2)+Math.pow(msg.payload.acceleration.y,2)+Math.pow(msg.payload.acceleration.z,2))-1.005;\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":183,"wires":[["6f3dd8bf.0a9718","1015dcc.7e9ea23","98870bc7.6258","98d89131.36619"]]},{"id":"6f3dd8bf.0a9718","type":"ui_chart","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":1,"width":0,"height":0,"label":"Balance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-0.5","ymax":"0.5","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":550,"y":64,"wires":[[],[]]},{"id":"5483623c.6991ac","type":"file","z":"b1d9e39c.38f2a","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":993.5,"y":299,"wires":[]},{"id":"1015dcc.7e9ea23","type":"function","z":"b1d9e39c.38f2a","name":"Write data to file","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nmsg.payload = utc + \", \" + msg.payload ;\nmsg.filename = \"/home/pi/Desktop/SciFairData/\" + global.get(\"filename\")\nreturn msg;","outputs":1,"noerr":0,"x":613,"y":252,"wires":[["d1f913d6.853e68"]]},{"id":"98870bc7.6258","type":"function","z":"b1d9e39c.38f2a","name":"UTC","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nmsg.payload = utc;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":194,"wires":[["8a4e7b2c.2679a8"]]},{"id":"8a4e7b2c.2679a8","type":"ui_text","z":"b1d9e39c.38f2a","group":"91ebc8ba.eca338","order":0,"width":0,"height":0,"name":"Time","label":"Time","format":"{{msg.payload}}","layout":"row-left","x":720,"y":197,"wires":[]},{"id":"5f4234c4.928cec","type":"inject","z":"b1d9e39c.38f2a","name":"Start recording","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":426,"y":399,"wires":[["903d20f6.5c47b","820987dd.c1056","22231cee.dd470c"]]},{"id":"8e428fd7.bbb2c","type":"inject","z":"b1d9e39c.38f2a","name":"Stop recording","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":425,"y":445,"wires":[["903d20f6.5c47b","7ddf9771.a3bdb"]]},{"id":"903d20f6.5c47b","type":"change","z":"b1d9e39c.38f2a","name":"set gate","rules":[{"t":"move","p":"payload","pt":"msg","to":"gate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":803.5,"y":296,"wires":[[]]},{"id":"d1f913d6.853e68","type":"switch","z":"b1d9e39c.38f2a","name":"Start/Stop writing","property":"gate","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":832,"y":253,"wires":[["ed38fcce.342108","5483623c.6991ac"]]},{"id":"ed38fcce.342108","type":"debug","z":"b1d9e39c.38f2a","name":"","active":false,"console":"true","complete":"payload","x":1015.5,"y":252,"wires":[]},{"id":"e7c9f5b.0d5a808","type":"ui_button","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":0,"width":0,"height":0,"passthru":false,"label":"Start recording","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":426,"y":312,"wires":[["903d20f6.5c47b","820987dd.c1056","22231cee.dd470c"]]},{"id":"ba2e937b.361248","type":"ui_button","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":0,"width":0,"height":0,"passthru":false,"label":"Stop recording","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":425,"y":357,"wires":[["903d20f6.5c47b","7ddf9771.a3bdb"]]},{"id":"2a162b82.51e52c","type":"rpi-sensehat out","z":"b1d9e39c.38f2a","name":"Recording","x":925,"y":443,"wires":[]},{"id":"820987dd.c1056","type":"function","z":"b1d9e39c.38f2a","name":"On","func":"msg.payload = \"0-7,0,red,1-7,1,red,2-7,2,red,3-7,3,red,4-7,4,red,5-7,5,red,6-7,6,red,7,7,red\";\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":417,"wires":[["2a162b82.51e52c"]]},{"id":"7ddf9771.a3bdb","type":"function","z":"b1d9e39c.38f2a","name":"Off","func":"msg.payload = \"*,*,green\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":453,"wires":[["2a162b82.51e52c"]]},{"id":"22231cee.dd470c","type":"function","z":"b1d9e39c.38f2a","name":"Set filename","func":"var now = new Date();  // the current datetime as a Date object\nvar iso = now.toISOString();  // converted to YYYY-MM-DDThh:mm:ss.dddZ format\nvar utc = iso.replace(/^(.*)T(.*)Z$/, \"$1 $2\");  // with the 'T' and 'Z' removed\nglobal.set(\"filename\",utc + \".csv\");\nmsg.payload = global.get(\"filename\") ;\nreturn msg;","outputs":1,"noerr":0,"x":718,"y":546,"wires":[["2944ddfb.c3670a"]]},{"id":"2944ddfb.c3670a","type":"debug","z":"b1d9e39c.38f2a","name":"","active":true,"console":"false","complete":"true","x":911,"y":568,"wires":[]},{"id":"98d89131.36619","type":"ui_chart","z":"b1d9e39c.38f2a","name":"","group":"91ebc8ba.eca338","order":1,"width":0,"height":0,"label":"Acceleration sum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":668,"y":121,"wires":[[],[]]},{"id":"a42edc86.38c4c","type":"delay","z":"b1d9e39c.38f2a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"day","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":306,"y":248,"wires":[["7ddf9771.a3bdb","2944ddfb.c3670a"]]},{"id":"91ebc8ba.eca338","type":"ui_group","z":"","name":"Acceleration","tab":"497e63f3.264c7c","disp":true,"width":"6"},{"id":"497e63f3.264c7c","type":"ui_tab","z":"","name":"ScienceFair","icon":"dashboard","order":4}]
